* {
    text-align: center;
}
body {
    width: 100%!important;
    margin: 0!important;
    font-size: 14px!important;
    color: #444!important;
}

#navbarSupportedContent{
    font-size: 16px!important;
}
.nav-item a{
    color: whitesmoke!important;
}
.row{
    margin-right: 0!important;
}
a {
    color: inherit;
    text-decoration: none;
}

@media(max-width: 990px) {
    textarea {
        width: 500px!important;
        height: 400px!important;
    }
}
/*@media(max-width: 1050px) {*/
/*    #animation {*/
/*        width: 700px!important;*/
/*        height:300px!important;*/
/*    }*/
/*}*/
a.navbar-brand active{
    color: black!important;
}
.margin-center{
    margin-right: auto!important;
    margin-left: auto!important;
}
.active{
    background-color: ghostwhite!important;
    font-weight: bolder;
    color: black!important;
    border-radius: 3%;
}
.navbar-brand{
    color: whitesmoke!important;
}
.navbar-brand.active{
    color: black!important;
}
.active a{
    color: black!important;
}
.navbar-brand{
    padding-left: 6px;
    padding-right: 6px;
}


.table-dark>th{
    background-color: dimgrey!important;
}

.p5Canvas{
    margin-bottom: 3%;
}

.footer{
    left: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    color:white;
    width: 100%;
}
.footer a{
    color: lightgray;
}
.footer a:hover{
    color: white;
}